* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*font-family: Helvetica, sans-serif;*/
  font-family:  monospace;
  /*font-family: Georgia, 'Times New Roman', Times, serif;*/


  text-align: center;
}

body, margin {
  
  text-transform: uppercase;
}


body, button {

  font-family: 'Source Code Pro', monospace;
  font-family: 'Satisfy', cursive;
  font-family: 'Fjalla One', sans-serif;


}


.log {
  position: absolute;
  top: 0;
  right: 0;
  /*background: #000;
  color: #fff;
  text-transform: none;
  padding: 5px 10px;*/
  font-family: Arial, Helvetica, sans-serif;
}

.loading, .error, .updating {
  position: absolute;
  top: 20px;
  left: 20px;
}


.text-danger {
  color: darkred;
}

button {
  border:0;
  background: none;
  /*font-weight: 500;*/
  padding:0;
  margin:0; 
  color: #999;

  cursor: pointer;

  transition: all ease 0.3s;
  
}
.material-icons {
font-size: 40px;
}

button:focus {
  outline: none;
}

button:hover {
  color: #000;
}



.counter {

  padding: 50px;


  /*padding: 50px 0;*/
  border-bottom: 1px solid #ddd;

  transition: all ease 0.1s;
}


counter:nth-child(odd){
  background: red;
  
}

.title {
  color: #999;
  /*font-weight: 900;*/
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-size: 30px;
  /*position: absolute;
  top: 10px;
  left: 10px;*/
}



.value {
  font-size: 100px;
  font-weight: 900;
  color: #000;
  
  /*transition: all ease 0.15s;*/
  /*transform-origin: 0 50%;*/
}
.value strong {
  display: inline-block;
  /*background: #000;*/
  /*color: #fff;*/
  /*font-weight: 400;*/
  padding: 0 0;
  font-weight: normal;
  /*border-radius: 30px;*/

}


.highlight {
  /*background: #eee;*/
}

.value {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.highlight .value {
  /*transform: scale(1.2, 1.2);*/
  
  animation-name: bounce;
  transform-origin: center bottom;

   /*animation-name: rubberBand;*/
}


@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}